@import-normalize;

html {
  font-size: calc(0.4vh + 1.1vw);
  font-family: arial;
}

body,
html,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}
